SSL_ENABLED=1
SSL_KEYFILE=your_ssl_keyfile
SSL_CERTFILE=your_ssl_certfile
DATABASE_URL=sqlite:///database.db
SECRET_KEY=your_secret_key
VERSION=0.1.0
SENTRY_DSN=your_sentry_dsn
MONGODB_CONNECTION_STRING=your_mongodb_connection_string
MONGODB_DATABASE=your_mongodb_database
MONGODB_STATS_COLLECTION=your_mongodb_stats_collection
MONGODB_LOGS_COLLECTION=your_mongo_logs_collection